/* student.css - только для компонента Student */
.student-overlay {
  position: fixed;
  inset: 0;
  background: url(./assets/img/train.png);
  opacity: 40%;
  z-index: 999;
}

.student-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #111;
  padding: 30px;
  border-radius: 16px;
  width: 494px;
  height: 400px;
  z-index: 1000;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
  text-align: center;
}

.student-title {
  color: #fff;
  margin-bottom: 20px;
  font-size: 24px;
  text-align: center;
}

.student-btn {
  display: block;
  width: 330px;
  height: 59px;
  margin: 10px auto;
  border: none;
  border-radius: 20px;
  background: red;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  line-height: 59px;
  transition: 0.2s ease;
}

.student-btn-exit {
  background: #555;
}

.student-btn:hover {
  opacity: 0.9;
  transform: scale(1.02);
}