/* teacher.css - только для компонента Teacher */
.teacher-overlay {
  position: fixed;
  inset: 0;
  background: url(./assets/img/train.png);
  opacity: 40%;
  z-index: 999;
}

.teacher-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #111;
  padding: 30px;
  border-radius: 16px;
  width: 494px;
  height: auto;
  min-height: 324px;
  z-index: 1000;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
  text-align: center;
}

.teacher-title {
  color: #fff;
  margin-bottom: 20px;
  font-size: 36px;
}

.teacher-input {
  width: 386px;
  height: 59px;
  padding: 12px;
  margin-bottom: 12px;
  border-radius: 10px;
  border: none;
  outline: none;
  background: #333;
  color: #fff;
  font-size: 14px;
}

.teacher-input::placeholder {
  color: #aaa;
}

.teacher-btn {
  width: 386px;
  padding: 12px;
  border: none;
  border-radius: 10px;
  background: red;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  margin-top: 5px;
  transition: 0.2s;
}

.teacher-btn-back {
  width: 386px;
  padding: 12px;
  border: none;
  border-radius: 10px;
  background: #555;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  margin-top: 10px;
  transition: 0.2s;
}

.teacher-btn:hover, .teacher-btn-back:hover {
  opacity: 0.85;
  transform: scale(1.02);
}